/* =========================
   FOOTER
========================= */
footer {
  text-align: center;
  justify-content: center;
  padding: 20px;
  color: #079992;
  position: relative;
  z-index: 1;
}

body.index footer {
  padding: 20px;
}
