/* =========================
   HOME PAGE
========================= */
body.home {
  background: var(--index-bg);
  padding-bottom: 90px;
}

body.home::after {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 15%,
    var(--glass-white),
    transparent 35%
  );
  pointer-events: none;
  z-index: -1;
}

body.home .hero::before {
  display: none;
}
