body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #dff9fb, #c7ecee);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.container {
    text-align: center;
    padding: 30px;
    background: white;
    border-radius: 12px;
    width: 100px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 60px;
    margin-bottom: 100px;
}

h1 {
    margin-bottom: 10px;
    color: #0a3d62;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #b2bec3;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: #079992;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #38ada9;
}

.signup-link {
    display: block;
    margin-top: 15px;
    color: #079992;
    text-decoration: none;
}
